<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search Results</h1>
    <ul id="searchResults">
        {{#each results}}
            <li>
                <img src="{{this.image}}" alt="{{this.title}}" style="width: 100px; height: auto;">
                <h2>{{this.title}}</h2>
                <p>Description: {{this.description}}</p>
                <p>Price: ${{this.price}}</p>
                <p>Category: {{this.category}}</p>
                <p>Sold: {{#if this.sold}} Yes {{else}} No {{/if}}</p>
                <p>Date of Sale: {{this.dateOfSale}}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>